body {
  background-image: url(/Users/ida/VS-codeProjects/Express.js-API/client/src/assets/hight-template.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.content-container {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 400px;
  height: 230px;
  background-color: black;
  padding: 10px;
  position: absolute;
  top: 65%;
  left: 30%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 1px white;
  padding: 10px;
}

h2 {
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

hr {
  color: white;
  width: 300px;
}

p {
  font-size: 20px;
  margin: 0;
}
